
@{
    ViewBag.Title = "GioiThieu_64123456";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>THÔNG TIN SINH VIÊN</h2>
Mã sinh viên: 64123456<br />
Họ tên: Bùi Chí Thành<br />
Lớp: 64.TTQL<br />
Ngày kiểm tra: 27/03/2025
