#banner {
    height: 60px;
    font-size: 22px;
    font-weight:bold;
    color: blue;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    background-color: aqua;
    width: 100%;
    background-color: aqua; /*#222222;*/
    border-color: #080808;
    padding-top: 10px;
}

#menu {
    float: left;
    font-weight: bold;
    width: 100%;
}

#footer {
    width: 100%;
    height: 30px;
    padding-top: 5px;
    text-align: center;
    background-color: aqua;
}

#content {
    width: 100%;
    height: 80%;
}

.a {
    text-decoration: none;
}

    .a:focus {
        outline: none;
        text-decoration: none;
    }

    .a:active,
    .a:hover {
        background-color: #00F;
        color: #FFF;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
    }
