
@{
    ViewBag.Title = "GioiThieu_64130859";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h4>THÔNG TIN SINH VIÊN</h4>
Mã sinh viên: 64130859
<br />
Họ tên: Nguyễn Hoàng Quốc Huy
<br />
Lớp: 64.TTQL
<br />
Ngày kiểm tra: 27/03/2025
