@model IEnumerable<QLBanSach_64139020.Models.NHAXUATBAN>

@{
    int perColumn = 5;
}

<div class="row dropdown-columns">
    @foreach (var group in Model.Select((nxb, i) => new { nxb, i }).GroupBy(x => x.i / perColumn))
    {
        <div class="col-4">
            <ul class="list-unstyled">
                @foreach (var item in group)
                {
                    <li>
                        <a class="dropdown-item" href="@Url.Action("SachTheoNXB_64139020", "BookStore_64139020", new { id = item.nxb.MaNXB })">
                            @item.nxb.TenNXB
                        </a>
                    </li>
                }
            </ul>
        </div>
    }
</div>
