
@{
    ViewBag.Title = "Xác nhận đơn hàng";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h3>Đơn hàng đã được xác nhận!</h3>
<br />
<h5 class="text-primary">
    @Html.ActionLink("Về Trang Chủ", "Index_64139020", "BookStore_64139020")
</h5>

