
@{
    ViewBag.Title = "GioiThieu_64130859";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h4>THÔNG TIN SINH VIÊN DỰ THI</h4>
Mã sinh viên: 64130859
<br />
Họ và tên: Nguyễn Hoàng Quốc Huy
<br />
Ngày thi: 03/04/2025
<br />
Học phần: Thiết kế và Lập trình Web 2
<div>
    @Html.ActionLink("Về trang Tìm kiếm", "TimKiem")
</div>