@model BaiTap5_64130859.Models.MailInfo

@{
    ViewBag.Title = "MailConfirm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h2>Đã gửi Email thành công</h2>




<div>
    @Html.ActionLink("Quay lại", "Index")
</div>