
@{
    ViewBag.Title = "Index1";
    Layout = null;
}

<h2>THÔNG TIN SINH VIÊN</h2>
<form name="f1" action="/SinhVien_64130859/Register2" method="post">
    <table>
        <tr>
            <td>Mã sinh viên:</td>
            <td><input type="text" name="Id"></td>
        </tr>
        <tr>
            <td>Họ và tên:</td>
            <td><input type="text" name="Name"></td>
        </tr>
        <tr>
            <td>Điểm:</td>
            <td><input type="text" name="Marks"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Đăng ký"></td>
        </tr>
    </table>
</form>

